In [19]:
import pandas as pd
import numpy as np

### 1. Read the csv or excel file.

In [15]:
df = pd.read_csv('C:\\Users\\Nplite\\Desktop\\INEURON\\used_bikes.csv')
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

### 2.A Memory usage before Change the datatypes of the column

In [16]:
df.dtypes

bike_name      object
price         float64
city           object
kms_driven    float64
owner          object
age           float64
power         float64
brand          object
dtype: object

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    object
 1   price       149 non-null    float64
 2   city        149 non-null    object
 3   kms_driven  149 non-null    float64
 4   owner       149 non-null    object
 5   age         149 non-null    float64
 6   power       149 non-null    float64
 7   brand       149 non-null    object
dtypes: float64(4), object(4)
memory usage: 9.4+ KB

In [18]:
print("Original DataFrame:")
print(df)
print("\nGlobal usage of memory of the DataFrame:")
print(df.info(memory_usage = "deep"))
print("\nThe usage of memory of every column of the said DataFrame:")
print(df.memory_usage(deep = True))

Original DataFrame:
                                bike_name     price       city  kms_driven  \
0      TVS Star City Plus Dual Tone 110cc   35000.0  Ahmedabad     17654.0
1             Royal Enfield Classic 350cc  119900.0      Delhi     11000.0
2                    Triumph Daytona 675R  600000.0      Delhi       110.0
3                    TVS Apache RTR 180cc   65000.0  Bangalore     16329.0
4    Yamaha FZ S V 2.0 150cc-Ltd. Edition   80000.0  Bangalore     10000.0
..                                    ...       ...        ...         ...
144          Royal Enfield Standard 350cc  115000.0  Hyderabad     14900.0
145             Honda CB Shine 125cc Disc   65000.0     Mumbai      2000.0
146            Honda CB Unicorn ABS 150cc   99000.0     Mumbai      4000.0
147              Yamaha YZF-R15 2.0 150cc   68500.0      Delhi     68500.0
148               Yamaha YZF-R15 V3 150cc  140000.0      Delhi      2473.0

            owner  age  power          brand
0     First Owner  3.0  110.0            TVS
1     First Owner  4.0  350.0  Royal Enfield
2     First Owner  8.0  675.0        Triumph
3     First Owner  4.0  180.0            TVS
4     First Owner  3.0  150.0         Yamaha
..            ...  ...    ...            ...
144   First Owner  3.0  350.0  Royal Enfield
145   First Owner  3.0  125.0          Honda
146   First Owner  2.0  150.0          Honda
147  Second Owner  7.0  150.0         Yamaha
148   First Owner  2.0  150.0         Yamaha

[149 rows x 8 columns]

Global usage of memory of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   149 non-null    object
 1   price       149 non-null    float64
 2   city        149 non-null    object
 3   kms_driven  149 non-null    float64
 4   owner       149 non-null    object
 5   age         149 non-null    float64
 6   power       149 non-null    float64
 7   brand       149 non-null    object
dtypes: float64(4), object(4)
memory usage: 45.0 KB
None

The usage of memory of every column of the said DataFrame:
Index           128
bike_name     11954
price          1192
city           9546
kms_driven     1192
owner         10144
age            1192
power          1192
brand          9517
dtype: int64

### 2.B  Memory usage After Change the datatypes of the column

In [ ]:
df = df.astype(str)
print(df.dtypes)

In [ ]:
print("Original DataFrame:")
print(df)
print("\nGlobal usage of memory of the DataFrame:")
print(df.info(memory_usage = "deep"))
print("\nThe usage of memory of every column of the said DataFrame:")
print(df.memory_usage(deep = True))

In [ ]:
df.info()

In [ ]:
df.dtypes

# OR

In [22]:
for column in df.columns:
    if df[column].dtypes=='float64':
        df[column] = df[column].astype(np.float32)

In [23]:
df.dtypes

bike_name      object
price         float32
city           object
kms_driven    float32
owner          object
age           float32
power         float32
brand          object
dtype: object

In [25]:
df.memory_usage(deep= True)

Index           128
bike_name     11954
price           596
city           9546
kms_driven      596
owner         10144
age             596
power           596
brand          9517
dtype: int64

### 3.0 Dump the data into the mysql database.

In [28]:
df = pd.read_csv('C:\\Users\\Nplite\\Desktop\\INEURON\\used_bikes.csv',skiprows=1,index_col=None)
df.head()

,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
0,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
1,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
2,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
3,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
4,Yamaha FZs 150cc,53499.0,Delhi,25000.0,First Owner,6.0,150.0,Yamaha

In [29]:
df.to_csv('Bike_Detail.csv')
%ls

 Volume in drive C has no label.
 Volume Serial Number is DE5C-05B8

 Directory of C:\Users\Nplite\Contacts

10-11-2022  22:35    <DIR>          .
10-11-2022  18:13    <DIR>          ..
10-11-2022  21:45    <DIR>          .ipynb_checkpoints
10-11-2022  22:42            12,252 Bike_Detail.csv
10-11-2022  21:45            56,280 TASK1.ipynb
10-11-2022  22:35            42,415 Task2 .ipynb
10-11-2022  21:47               576 Task3.ipynb
               4 File(s)        111,523 bytes
               3 Dir(s)  51,219,210,240 bytes free

In [30]:
!pip install mysql-connector-python
import mysql.connector as conn  
mydb = conn.connect(host = "localhost", user = "root", passwd = "Ns.np#123" )

Requirement already satisfied: mysql-connector-python in c:\users\nplite\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\nplite\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)

In [34]:
cursor = mydb.cursor()
cursor.execute('create database Bike_Detail_Data1 ')
cursor.execute("use Bike_Detail_Data1")

In [36]:
cursor.execute("create table Bike_Detail0(index_column INT(10),bike_name VARCHAR(50), price FLOAT(30), city VARCHAR(30), kms_driven FLOAT(30), owner VARCHAR(30), age FLOAT(30) ,power FLOAT(30),brand VARCHAR(30))")

In [37]:
cursor.execute("insert into Bike_Detail0 values(0,'TVS Star City Plus Dual Tone 110cc', 35000.0, 'Ahmedabad', 17654.0 , 'First Owner',3.0,110.0,'TVS')")

In [38]:
mydb.commit()

In [39]:
cursor.execute(" select * from Bike_Detail0")
cursor.fetchall()

[(0,
  'TVS Star City Plus Dual Tone 110cc',
  35000.0,
  'Ahmedabad',
  17654.0,
  'First Owner',
  3.0,
  110.0,
  'TVS')]

In [40]:
import csv
with open("Bike_Detail.csv","r") as f:
    Bike_Detail = csv.reader(f, delimiter = '\n')
    for i in Bike_Detail:
        print(i)
        
mydb.commit()

[',TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS']
['0,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield']
['1,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph']
['2,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS']
['3,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha']
['4,Yamaha FZs 150cc,53499.0,Delhi,25000.0,First Owner,6.0,150.0,Yamaha']
['5,Honda CB Hornet 160R  ABS DLX,85000.0,Delhi,8200.0,First Owner,3.0,160.0,Honda']
['6,Hero Splendor Plus Self Alloy 100cc,45000.0,Delhi,12645.0,First Owner,3.0,100.0,Hero']
['7,Royal Enfield Thunderbird X 350cc,145000.0,Bangalore,9190.0,First Owner,3.0,350.0,Royal Enfield']
['8,Royal Enfield Classic Desert Storm 500cc,88000.0,Delhi,19000.0,Second Owner,7.0,500.0,Royal Enfield']
['9,Yamaha YZF-R15 2.0 150cc,72000.0,Bangalore,20000.0,First Owner,7.0,150.0,Yamaha']
['10,Yamaha FZ25 250cc,95000.0,Bangalore,9665.0,First Owner,4.0,250.0,Yamaha']
['11,Bajaj Pulsar NS200,78000.0,Bangalore,9900.0,First Owner,4.0,200.0,Bajaj']
['12,Bajaj Discover 100M,29499.0,Delhi,20000.0,First Owner,8.0,100.0,Bajaj']
['13,Bajaj Discover 125M,29900.0,Delhi,20000.0,First Owner,7.0,125.0,Bajaj']
['14,Bajaj Pulsar NS200 ABS,90000.0,Bangalore,11574.0,First Owner,3.0,200.0,Bajaj']
['15,Bajaj Pulsar RS200 ABS,120000.0,Bangalore,23000.0,First Owner,3.0,200.0,Bajaj']
['16,Suzuki Gixxer SF 150cc,48000.0,Mumbai,24725.0,First Owner,5.0,150.0,Suzuki']
['17,Benelli 302R 300CC,240000.0,Mumbai,15025.0,Second Owner,3.0,302.0,Benelli']
['18,Bajaj Discover 125M,29900.0,Delhi,20000.0,First Owner,7.0,125.0,Bajaj']
['19,Bajaj Pulsar RS200 ABS,120000.0,Bangalore,23000.0,First Owner,3.0,200.0,Bajaj']
['20,Suzuki Gixxer SF 150cc,48000.0,Mumbai,24725.0,First Owner,5.0,150.0,Suzuki']
['21,Hero Splendor iSmart Plus IBS 110cc,46500.0,Delhi,3500.0,First Owner,2.0,110.0,Hero']
['22,Royal Enfield Classic Chrome 500cc,121700.0,Kalyan,24520.0,First Owner,5.0,500.0,Royal Enfield']
['23,Yamaha FZ V 2.0 150cc,45000.0,Delhi,23000.0,First Owner,6.0,150.0,Yamaha']
['24,Bajaj Pulsar NS200,78000.0,Bangalore,9900.0,First Owner,4.0,200.0,Bajaj']
['25,Hero Super Splendor 125cc,20000.0,Ahmedabad,29305.0,First Owner,16.0,125.0,Hero']
['26,Honda CBF Stunner 125cc,20800.0,Faridabad,30500.0,Second Owner,7.0,125.0,Honda']
['27,Bajaj Pulsar 150cc,50000.0,Bangalore,19000.0,First Owner,8.0,150.0,Bajaj']
['28,Honda X-Blade 160CC ABS,81200.0,Mettur,9100.0,First Owner,2.0,160.0,Honda']
['29,Bajaj Pulsar NS200,88000.0,Hyderabad,21914.0,First Owner,3.0,200.0,Bajaj']
['30,Yamaha YZF-R15 2.0 150cc,80000.0,Kaithal,20000.0,Second Owner,4.0,150.0,Yamaha']
['31,Bajaj Avenger 220cc,40900.0,Gurgaon,15000.0,First Owner,6.0,220.0,Bajaj']
['32,KTM RC 390cc,180000.0,Pune,17700.0,First Owner,4.0,390.0,KTM']
['33,Honda CB Unicorn 150cc,40000.0,Noida,30000.0,First Owner,8.0,150.0,Honda']
['34,KTM Duke 200cc,70000.0,Nashik,100000.0,Second Owner,8.0,200.0,KTM']
['35,Royal Enfield Classic 350cc,98800.0,Kochi,39000.0,First Owner,5.0,350.0,Royal Enfield']
['36,Honda CBR 150R 150cc,65000.0,Allahabad,43000.0,First Owner,6.0,150.0,Honda']
['37,Royal Enfield Thunderbird X 500cc,190500.0,Samastipur,4550.0,First Owner,2.0,500.0,Royal Enfield']
['38,KTM RC 200cc ABS,179000.0,Bangalore,3400.0,First Owner,2.0,200.0,KTM']
['39,Royal Enfield Thunderbird 350cc,70000.0,Nadiad,45000.0,First Owner,8.0,350.0,Royal Enfield']
['40,Bajaj Avenger 220cc,45000.0,Hyderabad,36100.0,First Owner,6.0,220.0,Bajaj']
['41,Royal Enfield Bullet Electra 350cc,78000.0,Lucknow,8500.0,First Owner,13.0,350.0,Royal Enfield']
['42,Bajaj Avenger Street 220 ABS,110000.0,Bangalore,2550.0,First Owner,2.0,220.0,Bajaj']
['43,Royal Enfield Classic 350cc,85000.0,Delhi,18000.0,First Owner,6.0,350.0,Royal Enfield']
['44,Bajaj Pulsar NS200,38000.0,Delhi,35000.0,First Owner,9.0,200.0,Bajaj']
['45,Royal Enfield Thunderbird 350cc,55346.0,Noida,38000.0,First Owner,10.0,350.0,Royal Enfield']
['46,Mahindra Centuro NXT 110cc,28000.0,Jaipur,45000.0,First Owner,2.0,110.0,Mahindra']
['47,Hero Hunk 150cc,37000.0,Mumbai,10800.0,First Owner,8.0,150.0,Hero']
['48,Suzuki Gixxer SF Fi 150cc SP ABS,97000.0,Delhi,4400.0,First Owner,3.0,150.0,Suzuki']
['49,Yamaha FZ 150cc,40000.0,Karnal,357000.0,First Owner,8.0,150.0,Yamaha']
['50,Royal Enfieldâ€Ž Bullet 350cc,90000.0,Delhi,15300.0,First Owner,7.0,350.0,Royal Enfield']
['51,TVS Apache RTR 160cc,60000.0,Mumbai,30000.0,First Owner,5.0,160.0,TVS']
['52,Honda CB Shine 125cc,21900.0,Gorakhpur,30000.0,Second Owner,7.0,125.0,Honda']
['53,Bajaj Avenger 220cc,40000.0,Ahmedabad,64000.0,First Owner,7.0,220.0,Bajaj']
['54,Benelli TNT 600i ABS,475000.0,Mumbai,11500.0,Second Owner,3.0,600.0,Benelli']
['55,Honda Dream Yuga 110cc,34500.0,Ahmedabad,17056.0,First Owner,5.0,110.0,Honda']
['56,Yamaha SZ 150cc,25000.0,Vidisha,172082.0,First Owner,9.0,150.0,Yamaha']
['57,Suzuki Gixxer 150cc,30200.0,Bangalore,45000.0,First Owner,7.0,150.0,Suzuki']
['58,Bajaj Avenger Cruise 220,65000.0,Hosur,35000.0,First Owner,5.0,220.0,Bajaj']
['59,Bajaj Pulsar 150cc,25000.0,Mumbai,38000.0,First Owner,9.0,150.0,Bajaj']
['60,Kawasaki Z900,935000.0,Bagalkot,2500.0,First Owner,2.0,900.0,Kawasaki']
['61,Royal Enfield Bullet Electra 350cc,107100.0,Delhi,15438.0,Second Owner,3.0,350.0,Royal Enfield']
['62,Bajaj Pulsar 220cc,80000.0,Delhi,6000.0,First Owner,3.0,220.0,Bajaj']
['63,Royal Enfield Thunderbird 350cc,88000.0,Delhi,19000.0,First Owner,5.0,350.0,Royal Enfield']
['64,KTM Duke 200cc,94700.0,Baripara,32700.0,First Owner,4.0,200.0,KTM']
['65,Hero CD Deluxe 100cc,12200.0,Agra,46643.0,First Owner,14.0,100.0,Hero']
['66,Royal Enfield Classic 350cc,106000.0,Delhi,19000.0,First Owner,6.0,350.0,Royal Enfield']
['67,Bajaj Pulsar 220cc,29500.0,Hyderabad,40700.0,First Owner,12.0,220.0,Bajaj']
['68,Kawasaki Ninja 650cc,290000.0,Dharwad,11350.0,First Owner,7.0,650.0,Kawasaki']
['69,Royal Enfield Thunderbird 350cc,110000.0,Delhi,1600.0,First Owner,6.0,350.0,Royal Enfield']
['70,Bajaj Platina 125cc,27000.0,Vadodara,44410.0,First Owner,10.0,125.0,Bajaj']
['71,Royal Enfield Thunderbird 350cc,65000.0,Jalandhar,9800.0,First Owner,11.0,350.0,Royal Enfield']
['72,Royal Enfield Thunderbird X 350cc,150000.0,Bangalore,15000.0,First Owner,3.0,350.0,Royal Enfield']
['73,Hero Karizma ZMR 223cc,55786.0,Surat,68000.0,Second Owner,7.0,223.0,Hero']
['74,Bajaj Pulsar 180cc,45000.0,Bangalore,17757.0,First Owner,8.0,180.0,Bajaj']
['75,Yamaha FZ25 ABS 250cc,146000.0,Chennai,3900.0,First Owner,2.0,250.0,Yamaha']
['76,Royal Enfield Thunderbird 350cc,115000.0,Bangalore,23700.0,First Owner,4.0,350.0,Royal Enfield']
['77,Bajaj CT 100 100cc,30000.0,Noida,8250.0,First Owner,3.0,100.0,Bajaj']
['78,Bajaj Pulsar RS200 ABS,93100.0,Mumbai,10000.0,First Owner,5.0,200.0,Bajaj']
['79,Yamaha YZF-R15 2.0 150cc,82000.0,Mumbai,4300.0,Second Owner,3.0,150.0,Yamaha']
['80,Royal Enfield Interceptor 650cc,260000.0,Navi Mumbai,3800.0,First Owner,2.0,650.0,Royal Enfield']
['81,Honda CB Shine 125cc,38000.0,Bangalore,33000.0,First Owner,7.0,125.0,Honda']
['82,KTM Duke 250cc,130000.0,Gandhidham,17500.0,Second Owner,4.0,250.0,KTM']
['83,Royal Enfield Himalayan 410cc,118000.0,Gurgaon,19000.0,First Owner,4.0,410.0,Royal Enfield']
['84,Bajaj Pulsar 135LS,14700.0,Delhi,10000.0,First Owner,11.0,135.0,Bajaj']
['85,Royal Enfield Thunderbird 350cc,85000.0,Chennai,54000.0,First Owner,6.0,350.0,Royal Enfield']
['86,Bajaj Pulsar 220F,40000.0,Mumbai,27000.0,First Owner,7.0,220.0,Bajaj']
['87,Yamaha FZ16 150cc,50000.0,Bangalore,19000.0,First Owner,6.0,150.0,Yamaha']
['88,Royal Enfield Thunderbird 350cc,71800.0,Mumbai,43500.0,First Owner,7.0,350.0,Royal Enfield']
['89,Royal Enfield Thunderbird 350cc,71800.0,Mumbai,43500.0,First Owner,7.0,350.0,Royal Enfield']
['90,Bajaj Pulsar NS200,75000.0,Bangalore,11575.0,First Owner,4.0,200.0,Bajaj']
['91,Ducati Scrambler 1100 Special,1350000.0,Mumbai,190.0,First Owner,1.0,1100.0,Ducati']
['92,Triumph Street Triple 765,790000.0,Mumbai,19000.0,First Owner,3.0,765.0,Triumph']
['93,Bajaj V15 150cc,47000.0,Bangalore,8600.0,First Owner,4.0,150.0,Bajaj']
['94,Bajaj Pulsar 150cc,60000.0,Pune,2000.0,First Owner,2.0,150.0,Bajaj']
['95,Suzuki Gixxer Fi 150cc ABS,96700.0,Vadodara,5100.0,First Owner,1.0,150.0,Suzuki']
['96,Hero Splendor plus 100cc,31900.0,Delhi,9000.0,First Owner,5.0,100.0,Hero']
['97,Bajaj Pulsar 150cc,35000.0,Visakhapatnam,44480.0,First Owner,13.0,150.0,Bajaj']
['98,KTM Duke 390cc,240000.0,Bangalore,11000.0,First Owner,3.0,390.0,KTM']
['99,Honda CBR 250R,68000.0,Delhi,16000.0,First Owner,7.0,250.0,Honda']
['100,Bajaj Pulsar RS200,80000.0,Bangalore,26691.0,First Owner,5.0,200.0,Bajaj']
['101,Royal Enfield Classic 350cc,135000.0,Bangalore,45000.0,First Owner,5.0,350.0,Royal Enfield']
['102,Bajaj Pulsar 150cc,11100.0,Pune,12000.0,Third Owner,12.0,150.0,Bajaj']
['103,Benelli TNT 600i,480000.0,Mumbai,14200.0,First Owner,4.0,600.0,Benelli']
['104,Suzuki Gixxer 150cc SP Rear Disc,65000.0,Thrissur,41000.0,First Owner,3.0,150.0,Suzuki']
['105,Yamaha FZ S V 2.0 150cc,60000.0,Bangalore,15000.0,First Owner,5.0,150.0,Yamaha']
['106,Honda CBR 150R 150cc,80000.0,Bangalore,12314.0,First Owner,4.0,150.0,Honda']
['107,Hero Splendor Plus Self Alloy 100cc,46000.0,Delhi,11760.0,First Owner,3.0,100.0,Hero']
['108,Royal Enfield Classic 500cc,95000.0,Bangalore,22000.0,First Owner,11.0,500.0,Royal Enfield']
['109,Hyosung GT650R,400000.0,Delhi,1800.0,First Owner,4.0,650.0,Hyosung']
['110,Bajaj V15 150cc,55000.0,Bangalore,4400.0,First Owner,4.0,150.0,Bajaj']
['111,Yamaha YZF-R15 S 150cc,63000.0,Delhi,16000.0,First Owner,5.0,150.0,Yamaha']
['112,Bajaj V15 150cc,51000.0,Faridabad,9000.0,First Owner,4.0,150.0,Bajaj']
['113,TVS Apache RTR 160 4V Disc,69900.0,Delhi,8700.0,First Owner,3.0,160.0,TVS']
['114,Bajaj Pulsar RS200 ABS,125000.0,Gorakhpur,1342.0,First Owner,4.0,200.0,Bajaj']
['115,Benelli TNT 300,210000.0,Kolkata,21000.0,First Owner,6.0,300.0,Benelli']
['116,Honda CB ShineSP 125cc,35900.0,Delhi,19000.0,First Owner,5.0,125.0,Honda']
['117,Honda CBR 250R,67000.0,Delhi,13000.0,First Owner,9.0,250.0,Honda']
['118,Hero Passion Pro 100cc,29339.0,Ernakulam,12771.0,First Owner,4.0,100.0,Hero']
['119,Hero Splendor Plus 100cc,19695.0,Ernakulam,51576.0,First Owner,6.0,100.0,Hero']
['120,Hero Splendor iSmart Plus IBS 110cc,48672.0,Ernakulam,608.0,First Owner,2.0,110.0,Hero']
['121,Honda CBR 150R 150cc,40000.0,Mumbai,13680.0,First Owner,9.0,150.0,Honda']
['122,Yamaha YZF R6 600cc,500000.0,Bangalore,285.0,First Owner,5.0,600.0,Yamaha']
['123,Ducati 1299 Superleggera,800000.0,Mumbai,3.0,First Owner,3.0,1299.0,Ducati']
['124,Royal Enfield Himalayan 410cc,110000.0,Bangalore,24676.0,First Owner,5.0,410.0,Royal Enfield']
['125,Royal Enfield Classic 350cc,92500.0,Delhi,11000.0,First Owner,6.0,350.0,Royal Enfield']
['126,Bajaj Pulsar NS200,57000.0,Bangalore,28948.0,First Owner,5.0,200.0,Bajaj']
['127,Royal Enfield Electra 350cc,72500.0,Delhi,10000.0,First Owner,10.0,350.0,Royal Enfield']
['128,KTM Duke 200cc,68000.0,Delhi,16000.0,First Owner,9.0,200.0,KTM']
['129,TVS Phoenix Disc 125cc,21500.0,Barasat,10500.0,First Owner,5.0,125.0,TVS']
['130,TVS Apache RTR 160cc,40000.0,Delhi,20000.0,First Owner,6.0,160.0,TVS']
['131,Royal Enfield Classic 350cc,91000.0,Delhi,18000.0,First Owner,5.0,350.0,Royal Enfield']
['132,Harley-Davidson Street 750,300000.0,Ghaziabad,3500.0,First Owner,6.0,750.0,Harley-Davidson']
['133,Suzuki Gixxer SF 150cc,47000.0,Jaipur,70000.0,First Owner,6.0,150.0,Suzuki']
['134,Suzuki Gixxer 150cc,53000.0,Bangalore,18158.0,First Owner,6.0,150.0,Suzuki']
['135,Suzuki Gixxer 150cc,51000.0,Bangalore,39140.0,First Owner,5.0,150.0,Suzuki']
['136,Bajaj Pulsar 220F,48000.0,Bangalore,27776.0,First Owner,8.0,220.0,Bajaj']
['137,Bajaj Pulsar 220cc,55000.0,Bangalore,32734.0,First Owner,6.0,220.0,Bajaj']
['138,Royal Enfield Himalayan 410cc Fi ABS,173300.0,Vadodara,14000.0,First Owner,2.0,410.0,Royal Enfield']
['139,Royal Enfield Bullet Electra 350cc,77000.0,Delhi,13000.0,First Owner,8.0,350.0,Royal Enfield']
['140,Bajaj Pulsar NS200,115000.0,Bangalore,5000.0,First Owner,2.0,200.0,Bajaj']
['141,Bajaj Discover 150cc,36000.0,Hyderabad,39500.0,First Owner,7.0,150.0,Bajaj']
['142,Bajaj Avenger Street 220,72000.0,Hyderabad,29500.0,First Owner,4.0,220.0,Bajaj']
['143,Royal Enfield Standard 350cc,115000.0,Hyderabad,14900.0,First Owner,3.0,350.0,Royal Enfield']
['144,Honda CB Shine 125cc Disc,65000.0,Mumbai,2000.0,First Owner,3.0,125.0,Honda']
['145,Honda CB Unicorn ABS 150cc,99000.0,Mumbai,4000.0,First Owner,2.0,150.0,Honda']
['146,Yamaha YZF-R15 2.0 150cc,68500.0,Delhi,68500.0,Second Owner,7.0,150.0,Yamaha']
['147,Yamaha YZF-R15 V3 150cc,140000.0,Delhi,2473.0,First Owner,2.0,150.0,Yamaha']

In [41]:
with open('Bike_Detail.csv', "r") as f:
    Bike_Detail = csv.reader(f,delimiter = '\n')                    
    for i in Bike_Detail:
        print(i)
        print(f'insert into Bike_Detail0 values ({str(i[0])})')
        cursor.execute('insert into Bike_Detail_Data1.Bike_Detail0 values({values})'.format(values = ((i[0]))))

[',TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS']
insert into Bike_Detail0 values (,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ',TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,11' at line 1